.project-item{
    background-image: url('https://nextui.org/images/card-example-6.jpeg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.tech-stack-list{

    display: flex;


}
.tech-stack-item{
    margin-right: 10px;
}
.tech-stack-item::before{
    content: '• ';
    vertical-align:auto;
}
